﻿@model IEnumerable<Currencies.Web.Models.Currencies.CurrencyViewModel>
<h1>@ViewData["Title"]</h1>

<div id="table">
    <table class="table table-striped" id="currencies">
        <thead>
            <tr>
                <th style="width: 30%">Date</th>
                <th style="width: 30%">Currency</th>
                <th style="width: 40%">Rate</th>
            </tr>
        </thead>
        <tbody>
           @foreach (var item in Model)
            {
            <tr>
                <td class="">@item.Date.ToString("yyyy-MM-dd")</td>
                <td class=""><spam>@item.Value</spam></td>
                <td class=""><spam>@item.Rate</spam></td>
            </tr>
            }
        </tbody>
    </table>
</div>

