﻿@model IEnumerable<Currencies.Web.Models.Currencies.CurrencyViewModel>
@Html.ValidationSummary(false, "", new { @class = "text-danger" })


<a asp-area="" asp-controller="Home" asp-action="InsertCurrencies" data-target="#modal-action-customer"
   class="btn btn-info">
    <i class="glyphicon glyphicon-trash"> Insert new currencies</i>
</a>
<div class="text-center">
    <h1 class="display-4">Welcome to currencies converter</h1>
</div>

@using (Html.BeginForm("Convert", "Home"))
 {
     <div class="row">
         <div class="col-lg-12 col-md-12 col-12">
             <div class="row justify-content-center">
                 <label class="font-weight-bold">Please insert amount</label>
             </div>
             <div class="row justify-content-center">
                 <input class="form-control" style="width:100px" name="fromAmount" />
             </div>
         </div>
         <div class="col-lg-6 col-md-6 col-6">
             <div class="row justify-content-center">
                 <div>
                     <label class="font-weight-bold">Currency From : </label>
                     <select class="custom-select" name="fromRate"
                             style="width:150px;">
                         <option value="1">EUR</option>
                         @foreach (var item in Model)
                         {
                             <option value="@item.Rate">@item.Value</option>
                         }
                     </select>
                 </div>
             </div>
         </div>
         <div class="col-lg-6 col-md-6 col-6">
             <div class="row justify-content-center">
                 <div>
                     <label class="font-weight-bold">Currency To : </label>
                     <select class="custom-select justify-content-center" name="toRate"
                             style="width:150px;">
                         <option value="1">EUR</option>
                         @foreach (var item in Model)
                         {
                             <option value="@item.Rate"> @item.Value</option>
                         }
                     </select>
     
                 </div>
             </div>
         </div>
         <div class="col-lg-12 col-md-12 col-12">
             <div class="row justify-content-center">
                 <input type="submit" class="btn btn-secondary" value="Convert" />
             </div>
         </div>
     </div>
 }



