﻿@page
@model Currencies.Web.Pages.CurrenciesModel
@{
}
<div id="table">
    <table class="table table-striped" id="currencies">
        <thead>
            <tr>
                <th>Date</th>
                <th>FullFiltration13</th>
                <th>PressureBetween1um14</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ItemsPressureGaugeRegister)
            {
                <tr class="assetRow">
                    <td class="">@item.Date.ToString("yyyy/mm/dd")</td>
                    <td class="">@item.FullFiltration13</td>
                    <td class="">@item.PressureBetween1um14</td>
                </tr>
            }
        </tbody>
    </table>
