﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to currencies converter</h1>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-6">
        <div class="row justify-content-center">
            <div>
                <label class="font-weight-bold">Currency From : </label>
                <select class="custom-select"
                        style="width:150px;">
                    <option>Pizzas</option>
                    <option>Burger</option>
                    <option>Ice Cream</option>
                    <option>Fried Potatoes</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-6">
        <div class="row justify-content-center">
            <div>
                <label class="font-weight-bold">Currency To : </label>
                <select class="custom-select justify-content-center"
                        style="width:150px;">
                    <option>Pizzas</option>
                    <option>Burger</option>
                    <option>Ice Cream</option>
                    <option>Fried Potatoes</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <button type="button" class="btn btn-secondary">Convert</button>
</div>
<div class="row justify-content-center">
    <label class="font-weight-bold"> Result :</label>
    <label class="font-weight-bold"></label>
</div>
